div.noty_message
    span.noty_text
    div.widget.register.scrollable-modal(style='margin-top: 5px;')
        table.table.hs-table.table-condensed.table-responsive.hours-table.widget(style='font-size: 12px;')
            thead
                tr
                    th.t-center Id
                    th.t-center Item Code
                    th.t-center Ordered/Shipped
                    th.t-center Ship Unit
                    th.t-center Price
                    th.t-center Ext Price
                    th.t-center Status
            tbody
                for item in invoice.getItems()
                    tr(data-id=item.getId())
                        td.b-right= item.getId()
                        td.b-right= item.getItemCode()
                        td.b-right= item.getQuantityOrdered()+'/'+item.getQuantityShipped()
                        td.b-right= item.getShipUnit()
                        td.b-right= item.getPriceString()
                        td.b-right= item.getExtPriceString()
                        td= item.getStatus()

div.noty_close
