table.table.hs-table.table-condensed.table-responsive.hours-table.widget(style='font-size: 12px;')
    thead
        tr
            th.t-center Date
            th.t-center Items Sold
            th.t-center Total Price
            th.t-center FOH Hours
            th.t-center BOH Hours
            th.t-center Total Hours
            th.t-center FOH Cost
            th.t-center BOH Cost
            th.t-center Total Cost
            th.t-center Labour Cost
            th.t-center Notes
            
    tbody
        for sales in daily
            tr(data-id=sales.getDate())
                td.b-right= formatter.formatTimestamp(sales.getDate(), "EEE, MMM dd, yyyy")
                td.b-right= sales.getItemsSold()
                td.b-right= numUtils.formatNumber(sales.getTotalPrice())
                td.b-right= numUtils.formatNumber(sales.getFOHHours(), '')
                td.b-right= numUtils.formatNumber(sales.getBOHHours(), '')
                td.b-right= numUtils.formatNumber(sales.getFOHHours() + sales.getBOHHours(), '')
                td.b-right= numUtils.formatNumber(sales.getFOHCost())
                td.b-right= numUtils.formatNumber(sales.getBOHCost())
                td.b-right= numUtils.formatNumber(sales.getFOHCost() + sales.getBOHCost())
                td.b-right= numUtils.formatNumber(sales.getLabourCost(), '')+'%'
                td
                    if sales.getNote() == null
                        i.fa.fa-plus.vis-link#add-note
                    else
                        span= sales.getNote()
